version: "3.8"

services:
  api-gateway:
    image: nginx:latest
    container_name: nginx_api_gateway_dev
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.dev.conf:/etc/nginx/conf.d/default.conf:ro
    restart: unless-stopped
