version: "3.8"

services:
  iam-service:
    build:
      context: ./iam-service
      dockerfile: Dockerfile.dev
    container_name: iam_service_dev
    ports:
      - "3001:3001"
    volumes:
      - ./iam-service:/app
      - /app/node_modules
    command: npm run start:dev
    restart: unless-stopped

  course-service:
    build:
      context: ./course-service
      dockerfile: Dockerfile.dev
    container_name: course_service_dev
    ports:
      - "3002:3002"
    volumes:
      - ./course-service:/app
      - /app/node_modules
    command: npm run start:dev
    restart: unless-stopped

  # media-service:
  #   build:
  #     context: ./media-service
  #     dockerfile: Dockerfile.dev
  #   container_name: media_service_dev
  #   ports:
  #     - "3003:3003"
  #   volumes:
  #     - ./media-service:/app
  #     - /app/node_modules
  #   command: npm run start:dev
  #   restart: unless-stopped

  # hands-on-lab-service:
  #   build:
  #     context: ./hands-on-lab-service
  #     dockerfile: Dockerfile.dev
  #   container_name: hands_on_lab_service_dev
  #   ports:
  #     - "3004:3004"
  #   volumes:
  #     - ./hands-on-lab-service:/app
  #     - /app/node_modules
  #   command: npm run start:dev
  #   restart: unless-stopped

  # quiz-service:
  #   build:
  #     context: ./quiz-service
  #     dockerfile: Dockerfile.dev
  #   container_name: quiz_service_dev
  #   ports:
  #     - "3005:3005"
  #   volumes:
  #     - ./quiz-service:/app
  #     - /app/node_modules
  #   command: npm run start:dev
  #   restart: unless-stopped

  # payment-service:
  #   build:
  #     context: ./payment-service
  #     dockerfile: Dockerfile.dev
  #   container_name: payment_service_dev
  #   ports:
  #     - "3006:3006"
  #   volumes:
  #     - ./payment-service:/app
  #     - /app/node_modules
  #   command: npm run start:dev
  #   restart: unless-stopped

  api-gateway:
    image: nginx:latest
    container_name: nginx_api_gateway_dev
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.dev.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - iam-service
      - course-service
      # - media-service
      # - hands-on-lab-service
      # - quiz-service
      # - payment-service
    restart: unless-stopped
